/* Затемнённый фон (оверлей) */
.success-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    /* Плавный переход для прозрачности и видимости */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.success-modal--open {
    opacity: 1;
    visibility: visible;
}

/* Сам попап: 1208x623, радиус 10 */
.success-modal__content {
    width: 1210px;
    height: 566px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    transform: scale(0.9) translateY(20px);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.success-modal--open .success-modal__content {
    transform: scale(1) translateY(0); /* Возвращаем в исходный размер и позицию */
}

.success-modal__icon-wrapper {
    margin-bottom: 16px;
}


.success-modal__title {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 12px;
    text-align: center;
}

/* Подзаголовок: 40px, weight 400 */
.success-modal__subtitle {
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #111111;
    text-align: center;
    min-width: 900px;
    margin-bottom: 32px;
}


.success-modal__button {
    width: 495px;
    height: 86px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.success-modal__button:hover {
    background-color: #2980b9;
}

.success-modal__close {
    position: absolute;
    top: 40px;             /* Отступ от верхнего края попапа */
    right: 40px;           /* Отступ от правого края попапа */
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.success-modal__close:hover {
    opacity: 0.7;          /* Эффект затухания при наведении */
}