.blue-banner {
    width: 100%;
    background-color: #3498DB;
    height: auto;
    padding: 80px 0 100px 0;
    display: flex;
    justify-content: center;
}

.blue-banner__container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-banner__title {
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    max-width: 800px;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 60px;
}

.blue-banner__text {
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.4;
    margin-bottom: 60px;
    max-width: 1208px;
}

.blue-banner__cards {
    width: 100%;
    max-width: 1170px;
}

@media (max-width: 995px) {
    .blue-banner {
        padding: 40px 0 60px 0;
    }

    .blue-banner__container {
        max-width: 990px;
        padding: 0 135px;
    }

    /
    .blue-banner__title {
        font-size: 24px;
        margin-bottom: 16px;
        max-width: 100%;
    }

    .blue-banner__text {
        font-size: 16px;
        margin-bottom: 18px;
        max-width: 100%;
    }

    .blue-banner__cards {
        max-width: 100%;
    }
}

@media (max-width: 590px) {
    .blue-banner {
        padding: 32px 0 40px 0;
    }

    .blue-banner__container {
        padding: 0 16px;
    }

    .blue-banner__title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .blue-banner__text {
        font-size: 14px;
        margin-bottom: 16px;
    }
}